@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to KinoIS</h1>
    <p>This is homework N.1 created by Bojan Dukovski. Navigate yourself using the Navigation Bar.</p>
</div>
